html, body, #root {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
* { touch-action: pan-y; } 
.posterUrl{
    width: 100vw;
    display: block;
    position: fixed;
    top: 0;
    z-index: 100;
}
#Home {
    width: 100vw;
    height: 100vh;
    position: relative;
    .posterOuter{
        width: 100vw;
        height: auto;
        position: relative;
        .bg{
            width: 100%;
            height: 100vh;
        }
    }
}
